<htm>
    <canvas id="conway" width="500" height="500"></canvas>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        // Вообще решение лаконичное и это плюс.
        // Первое на что хочется обратить внимание - стилистика кода.
        // Мое мнение: Не предоставлять от и до рабочий код.
        // Гораздо важнее возможность вносить в этот код дальнейшие изменения.
        // А еще лучше, если эти изменения сможет внести другой разработчик.
        // В данном случае, задача довольна узкая. И в основном код состоит из алгоритмов.
        // Что немного затрудняет процесс упрощения.
        // Но сделать более человекочитаемо можно.

        // В данном случае, картинка по итогу собирается немного не та.
        // Придется понять какой участок кода работает неправильно.

        conway = document.getElementById("conway").getContext("2d")
        const height = 600
        const width = 500
        const size = 5

        // Первый пример, когда вместо читаемости мы даем не самое полезное в плане информативности название функции.
        // С первой и последней строчки мы и так видим, что инициализируется какой-то массив. Но что он в себе содержит?
        // Более того, если рассматривать данную задачу в проекте, может в дальнейшем мы захотим переиспользовать функцию.
        // Поэтому нам четко нужно знать что функция нам дает. Кстати, наименование init не совсем подходит. Тк, функция возвращает значение.
        // И больше бы подошло "getGrid(width, height)".
        // Функция getGrid в свою очередь могла бы быть декомпозирована в вызов двух функций getArray(length, initValue)
        initArray = (w, h) => {
            arr = []
            for (let x=0; x < w; x++){
                arr[x] = []
                // На счет сокращений названий переменных: Не стоит. Усложняет беглое чтение кода.
                // Не раз был свидетелем, когда люди сидели и матерились на разработчиков библиотеки, читая их исходники.  
                for(let y = 0; y < h ;y++){
                    arr[x][y] = 0;
                }
            }
            return arr
        }

        grid = initArray(width/size, height/size)
        tmpgrid = initArray(width/size, height/size)

        // В GoLang try catch был не добавлен по многим причинам. Одна из них: Ошибки нужно всегда обрабатывать.
        // А например, в Python, твой МР никогда не примут, если в except(то есть catch) не указан тип ошибки, которую ты ловишь.
        // Бьет по производительности, не очевидно читается.
        // Опять же, желательно писать "getCellValue".
        cellValue = (x,y) => {
            try{
                return grid[x][y]
            } catch {
                return 0;
            }
        }

        setIsLife = (x,y) => {
            brothers = getCountBrothers(x,y)
            // "если у живой клетки есть две или три живые соседки, то эта клетка продолжает жить"
            // "(если живых соседей меньше двух или больше трёх) клетка умирает"
            // Я так понимаю 0 - значит мертва. Тогда условие неправильное. Вот и ошибка.
            if (brothers > 4 || brothers < 3) return 0
            if (grid[x][y] === 0 && brothers === 3) return 1
            return  grid[x][y]
        }
        updateLife = () => {
            conway.clearRect(0, 0, width, height)
            setDraw(0,0,"white", width)

            for (let x = 0; x<width/size; x++){
                for (let y = 0; y<height/size; y++){
                    tmpgrid[x][y] = setIsLife(x,y)
                }
            }

            grid = tmpgrid

            for (let x = 0; x<width/size; x++){
                for (let y = 0; y<height/size; y++){
                    if(grid[x][y]) {
                        setDraw(x*size, y*size, "green", size)
                    }
                }
            }
            setTimeout(() =>{
                // В данном случае все ок. Но в прод такой вариант не пройдет.
                // Нужно в requestAnimationFrame вызовах, проверять сколько мс прошло с последнего вызова.
                // Анимация будет плавнее.
                requestAnimationFrame(updateLife)
            }, 100)
        }
        
        initLife = () => {
            for (let x = 0; x < width/size; x++) {
                for (let y = 0; y < height/size; y++){
                    if (Math.random() > 0.5) {
                        grid[x][y] = 1;
                    }
                }
            }
            updateLife()
        }

        function getCountBrothers (x,y){
            count = 0
            if(cellValue(x-1,y))count ++
            if(cellValue(x+1,y))count ++
            if(cellValue(x,y-1))count ++
            if(cellValue(x,y+1))count ++
            if(cellValue(x-1,y-1))count ++
            if(cellValue(x+1,y+1))count ++
            if(cellValue(x-1,y+1))count ++
            if(cellValue(x+1,y-1))count ++
            return count
        }

        function setDraw  (x,y,c,s) {
            conway.fillStyle = c
            conway.fillRect(x,y,s,s)
        }
        
        // Очень круто, что справился с задачей. Надеюсь, было интересно!
        initLife()
    </script>
</htm>